<?xml version="1.0" encoding="UTF-8"?>
<ScriptSettings>
  <IconFile>AddObject.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
  <ProjectPath>D:\Aussie\My_Music\Yngwie Malmsteen - REH Video\01 - Licks, Arpeggios and Classical Phrases\02 - Example 2 (A minor arpeggio)\HUD</ProjectPath>
  <Filename>02 - Example 2 (A minor arpeggio)</Filename>
  <Notes>Take4R</Notes>
  <Tempo>112.3876 BPM</Tempo>
  <Rate>100%</Rate>
  <Measure>
  </Measure>
</ScriptSettings>