<?xml version="1.0" encoding="UTF-8"?>
<ScriptSettings>
  <IconFile>AddObject.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
  <ProjectPath>D:\Aussie\My_Music\Yngwie Malmsteen - REH Video\01 - Licks, Arpeggios and Classical Phrases\12 - Example 11\HUD</ProjectPath>
  <Filename>12 - Example 11</Filename>
  <Notes>Take3R</Notes>
  <Tempo>81.7365 BPM</Tempo>
  <Rate>6.25%</Rate>
  <Measure>
  </Measure>
</ScriptSettings>