<?xml version="1.0" encoding="UTF-8"?>
<ScriptSettings>
  <IconFile>AddObject.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
  <ProjectPath>D:\Aussie\My_Music\Yngwie Malmsteen - REH Video\01 - Licks, Arpeggios and Classical Phrases\01 - Example 1 (E diminished arpeggio)\src\Take4.Normalized.HUD</ProjectPath>
  <Filename>
  </Filename>
  <Notes>
  </Notes>
  <Tempo>
  </Tempo>
  <Rate>
  </Rate>
  <Measure>0</Measure>
</ScriptSettings>