<?xml version="1.0" encoding="UTF-8" ?>
<ScriptSettings>
  <AssemblyReference resolver="local">DLLExample\MathLibrary.DLL</AssemblyReference>
  <AssemblyReference resolver="local">..\Application Extensions\Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">..\Application Extensions\Video.DLL</AssemblyReference>
  <AssemblyReference resolver="local">..\Application Extensions\Audio.DLL</AssemblyReference>
  <CompilerOptions>-debug -D:DEBUG</CompilerOptions>
</ScriptSettings>
