<?xml version="1.0" encoding="UTF-8"?>
<ScriptSettings>
  <IconFile>RenderAll.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
  <Renderer>Sony AVC/MVC</Renderer>
  <RenderTemplate>720x480 FINAL</RenderTemplate>
  <OutputPath>D:\Aussie\My_Music\Yngwie Malmsteen - REH Video\02 - Segments from Compositions\02 - Example 14 Rising Force\Tracks</OutputPath>
</ScriptSettings>