<?xml version="1.0" encoding="UTF-8"?>
<ScriptSettings>
  <IconFile>RenderAll.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
  <Renderer>Sony AVC/MVC</Renderer>
  <RenderTemplate>720x480 FINAL</RenderTemplate>
  <OutputPath>D:\Aussie\My_Music\Yngwie Malmsteen - REH Video\01 - Licks, Arpeggios and Classical Phrases\11 - Example 10 (C harmonic minor)\Tracks</OutputPath>
</ScriptSettings>