<?xml version="1.0" encoding="UTF-8" ?>
<ScriptSettings>
  <IconFile>RenderAll.cs.png</IconFile>
  <AssemblyReference resolver="local">Common.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Audio.DLL</AssemblyReference>
  <AssemblyReference resolver="local">Video.DLL</AssemblyReference>
</ScriptSettings>
